<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="titulo-index">SGT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div id="index">
        <h1>Bienvenido al Sistema de Gestión de Tareas</h1>
        <p>Selecciona una opción:</p>
    <div id="box-btn">
        <ul>
            <li><a href="/registro" id="btn-reg">Registrar Usuario</a></li>
            <li><a href="/ingreso" id="btn-login">Ingresar</a></li>
        </ul>
    </div>
    </div>

</body>
</html>

